{:paths ["src"]
 :deps {org.clojure/clojure             {:mvn/version "1.12.0"}
        aysylu/loom                     {:mvn/version "1.0.2"}
        tool-belt/tool-belt             {:mvn/version "0.1.0"}
        io.github.judepayne/dictim {:git/tag "0.8.8" :git/sha "75723f0"}
        io.github.judepayne/dictim.graph {:git/tag "0.1.6" :git/sha "8121011"}
        }}
