{:paths ["src"]
 :deps {org.clojure/clojure             {:mvn/version "1.10.1"}
        aysylu/loom                     {:mvn/version "1.0.2"}
        tool-belt                       {:mvn/version "0.1.0"}}}
